
header a, header a:hover {
    color: whitesmoke;
    text-decoration: none;
}
header {
    background-color: navy;
    color: whitesmoke;
    padding: 15px;
}
header .container-fluid  i {
    color: yellowgreen;
    padding: 10px;
}
.active, .active:hover {
    color: yellowgreen;
}
nav {
    font-weight: 500;
    height: 100px;
    display: flex;
    align-items: center;
}
nav a,nav a:hover {
    color: black;
}
nav .navbar-toggler {
    border: 1px solid black;
}
nav .fa-navicon{
    background-color: black;
}
.btn-success {
    background-color: yellowgreen;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;   
}
.carousel .carousel-inner{
    height: 500px;
    display: flex;
    align-items: center;
}
#slideshow {
    position: relative;
}
.overlay {
    position: absolute;
    font-size: 70px;
    font-weight: 500;
    line-height: 70px;
    color: whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay .caption {
    font-size: 40px;
    font-weight: lighter;
}
.extras {
    display: flex;
    align-items: center;
}
.extras .btn-success{
    padding: 0px 20px;
    line-height: 50px;
    margin-right: 10px;
}
.extras img {
    height: 50px;
}
.details .row .dark{
    font-size: 45px;
    font-weight: bold;
    color: darkblue;
}
.details .title {
    font-size: 15px;
    font-weight: 400;
    color: gray;
}
.details img {
    margin-top: -20px;
    width: 100%;
    margin-bottom: 45px;
}
.figures {
    display: flex;
    box-shadow: 0px 0px 20px 2px rgb(219, 219, 219);
}
.nums {
    height: 120px;
    width: 200px;
    text-align: center;
    font-weight: bold;
}
.nums span {
    font-size: 50px;
    font-weight: lighter;
}
#mid {
    border-left: 1px solid rgb(219, 219, 219);
    border-right: 1px solid rgb(219, 219, 219);
}
.register .title {
    color: gray;
}
.register h1 {
    color: navy;
    font-weight: bolder;
    margin-bottom: 50px;
}
.register .cards {
    height: 300px;
    width: 250px;
    padding: 25px;
    background-color: rgb(243, 243, 243);
    border-bottom: 2px solid navy;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.register {
    margin-bottom: 100px;
}
.register i {
    font-size: 70px;
    color: navy;
    margin-bottom: 25px;
}
.register .name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.register span {
    z-index: 5;
    position: absolute;
    bottom: 0;
    right: 50%;
    font-size: 30px;
    transform: translate(50%, 50%);
    color: rgb(219, 219, 219);
    background-color: white;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 1px rgb(243, 243, 243);
}
.about {
    background-image: url("../images/01.jpg");
    height: 500px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 100px;
}
.about .cards {
    width: 100%;
    background-color: white;
    padding: 40px;
    
}
.about .cards .title {
    color: navy;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
.about .cards .active {
    text-decoration: underline;
}
.active .cards i{
    font-size: 20px;
    font-weight: bolder;
    color: navy;
}
.global .data{
    margin-left: 50px;
}
#marine {
    background-image: url("../images/ww.jpg");
    background-position: center;
    height: 600px;
}
.global .data h5 {
    color: lightgray;
}
.global .data h6, .global .data p {
    color: gray;
}
.global .data h1 {
    color: navy;
    font-weight: bold;
    margin-bottom: 50px;
}
.global .data ul {
    list-style: none;
    font-weight: bold;
}
.global .data li {
    margin-bottom: 10px;
}
.global .data ul i  {
    background-color: yellowgreen;
    color: white;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
}
.global .banner {
    padding: 30px;
    background-color: yellowgreen;
    color: white;
}
.global .banner .btn-light {
    width: 150px;
    color: navy;
    font-weight: bold;
}
footer {
    background-color: rgb(0, 20, 40);
    color: lightgray;
    padding: 70px;
}
footer .btn {
    background-color: transparent;
    color: lightgray;
    padding: 15px 20px;
    border: 1px solid lightgray;
}
footer img {
    height: 75px;
}
footer a, a:hover {
    color: white;
    
}
footer address {
    line-height: 35px;
}
.footer {
    background-color: rgb(0, 20, 40);
    color: lightgray;
    /* border-top: 1px solid rgb(179, 179, 179); */
    padding: 30px;
}
hr {
    padding: 0%;
    margin: 0%;
    background-color:rgba(128, 128, 128, 0.5);
}

@media only screen and (max-width: 600px) {
    .details img {
        margin-top: 10px;
    }
}
